.supergraphic-snippet {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 1rem;
	width: 100%;
}

.start-image {
	display: block;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	border-radius: 2px;
}

.clickable {
	cursor: pointer;
}

h1, h2, h3, h4 {
	text-align: center;
}

figcaption {
	text-align: center;
}